name: Generate Snake

on:
  # Her gece yarısı otomatik çalışır
  schedule:
    - cron: "0 0 * * *" 
  
  # Manuel çalıştırma butonu için
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          # Kullanıcı adın buraya otomatik gelir
          github_user_name: Efecancngz
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Push to the output branch
        # DÜZELTME: Daha güvenilir olan peaceiris aracını kullanıyoruz
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: output
          publish_dir: dist
